@model dynamic

<div class="span10">
  <div class="canvas-wrapper">
    <canvas id="that-big-graph" width="900" height="400"></canvas>
  </div>
</div>

<div class="span2">
  <div class="graph-key">
    <h3>Key</h3>
    <ul></ul>
  </div>
</div>

<script src="@Url.Content("~/Scripts/chart.min.js")"></script>
<script src="@Url.Content("~/Scripts/GraphR.js")"></script>
