@model dynamic

<div class="canvas-wrapper">
     <canvas id="that-big-graph" width="900" height="400"></canvas>
</div>

<div>
     <h3>Key</h3>
     <ul class="graph-key"></ul>
</div>

<script src="@Url.Content("~/Scripts/chart.min.js")"></script>
<script src="@Url.Content("~/Scripts/GraphR.js")"></script>
