
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="model-body">
                <input type="text" id="username" />
                <input type="password" id="password" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="login" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
    </div>

