@model dynamic

<div class="modal fade" role="dialog" id="loginmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please log in to Team Sauce</h4>
            </div>
            <div id="questions" class="modal-body" />
        </div>
        <div class="modal-footer">
            <button id="submitLogin" type="button" class="btn btn-primary" data-dismiss="modal">Go!</button>
        </div>
    </div>
</div>
