<div id="loginArea" class="container">
    <div class="row-fluid">
        <div class="span12 center-align"><img src="~/Content/images/TEAM-SAUCE.png" alt="Team Sauce!" /></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Please sign in</h2>
            <input id="username" type="text" class="form-control" placeholder="Username" autofocus="">
            <input id="password" type="password" class="form-control" placeholder="Password">
            <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div>
</div>