@model dynamic
<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Popup</a>

<div ng-controller="questionnaireCtrl" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Question time!
                </h4>
            </div>
            <div class="modal-body">
                <div class="question" ng-repeat="question in questions">
                    <span class="glyphicon glyphicon-record"></span>
                    <span>{{question.text}}</span>
                    <angular-ratings ng-model="user_rating" notify-url="notify.json" notify-id="id"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="go()">Go!</button>
            </div>
        </div>
    </div>
</div>  