@model dynamic

<h2>SPONSOR</h2>

<ul id="sponsor-feed" class="chatbox"></ul>
<div class="chat-message-wrapper">
     <textarea id="sponsor-message" class="chat-message atwho"></textarea>
</div>
<input type="submit" id="send-sponsor-message" value="Send" />
<script src="~/Scripts/SponsorChatR.js"></script>
