@model dynamic

<h2>SPONSOR</h2>

<ul id="sponsor-feed">
    
</ul>

<input type="text" id="sponsor-message"/>
<button id="send-sponsor-message">Send</button>

<script src="~/Scripts/SponsorChatR.js"></script>
