@model dynamic

<h2 class="center-align">TEAM CHAT</h2>

<ul id="team-chatbox" class="chatbox" style="overflow:scroll; min-height: 250px; max-height: 250px; overflow-x: hidden"></ul>
<div class="chat-message-wrapper">
     <textarea id="team-message" class="chat-message atwho"></textarea>
</div>
<input type="submit" id="chat-submit" name="chat-submit" value="Send" class="btn btn-info btn-block" />

<script src="@Url.Content("~/Scripts/jquery.caret.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.atwho.js")"></script>
<script src="@Url.Content("~/Scripts/ChatR.js")"></script>
