@model dynamic

TeamChat

<ul class="chatbox"></ul>
<div class="chat-message-wrapper">
     <textarea class="chat-message atwho"></textarea>
     <input type="submit" id="chat-submit" name="chat-submit" value="Send" />
</div>

<script src="@Url.Content("~/Scripts/ChatR.js")"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
