@model dynamic

<h2>TEAM</h2>

<ul class="chatbox"></ul>
<div class="chat-message-wrapper">
     <textarea class="chat-message atwho"></textarea>
</div>
<input type="submit" id="chat-submit" name="chat-submit" value="Send" />

<script src="@Url.Content("~/Scripts/ChatR.js")"></script>
